h1 {display: flex;
	margin-top: 1rem;
	justify-content:  center;}

h2 {margin-left: 30px;}

.italique {font-style: italic;}

.card-text {text-align: justify;}

.titre {font-weight: bold;}

p {text-align: justify;}

/**
@media screen and (max-width :600 px){
	p {text-align: justify;}
	.card-text {text-align: justify;}
	.row {display: flex;
  flex-wrap: wrap;}
  iframe {width: 50px;}
}
**\