h1 {display: flex;
	margin-top: 1rem;
	justify-content:  center;}

h2 {margin-left: 30px;}

.italique {font-style: italic;}

.card-text {text-align: justify;}

.titre {font-weight: bold}

p {text-align: justify;}

.centrertitre {display: flex;
	justify-content:  center;}

.centrervideo {display: flex;
	justify-content:  center;}

img:hover{
-ms-transform: scale(1.5);
-webkit-transform: scale(1.5);
transform: scale(1.5);
}